<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Girl - Mariano Gian OG Deck</h2>
      </div>
      <div class="modal-body">
        <p>
          Guy Mariano gained recognition at the age of fourteen for his video part in the Blind Skateboards video <a href="https://youtu.be/Y6T0HOOJSMY" target="_blank">Video Days (1991)</a>. In 2012, Mariano appeared in 
          <a href="https://youtu.be/ygURlhMWYt4" target="_blank">Pretty Sweet</a>, a collaborative video between the Girl and Chocolate brands, and received the closing video part, a symbol of a video part's excellence (often referred to as the video's "ender").
          <ul>
            <li>Deck width: 7.6"</li>
            <li>Deck only (no grip tape, no wheels, no trucks, in other words; no additional parts)</li>
          </ul>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Stereo - Reissue Pastras Snow Day</h2>
      </div>
      <div class="modal-body">
        <p>
          Chris "Dune" Pastras is co-founder of Stereo Skateboards. He turned pro for World Industries in 1990, after appearing in <a href="https://youtu.be/_RQN3k3szpw" target="_blank">Rubbish Heap</a>, the company’s 1989 video. You can also catch him on <a href="https://youtu.be/8TBYi9T0W4I" target="_blank">A Visual Sound</a> video. The road to owning Stereo Skateboards was not easy. As a matter of fact the company was shut down in 1999 but was later brought back to life in 2003 and continues to operate with much success.
          <ul>
            <li>Deck width: 8.12"</li>
            <li>Deck only (no grip tape, no wheels, no trucks, in other words; no additional parts)</li>
          </ul>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 

<!-- Modal 3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Isle - Nick Jensen Artist Series</h2>
      </div>
      <div class="modal-body">
        <p>
          Nick Jensen co-founded Isles Skateboards in 2013. Isle's take on design for their decks is unique. All their deck designs are shot with props, no photoshop work. Take a look at this fascinating behind the scene look into the <a href="https://youtu.be/AEK_w_jjksU" target="_blank">MAKING OF: An Isle Graphic</a>. You can also catch Isles first film <a href="https://vase.vhx.tv/" target="_blank">Vase</a>. Or you can just catch Nick Jensen going bananas in this skateboarding <a href="https://youtu.be/jV2RXtXA_Zs" target="_blank">session</a>.
        </p>
        <ul>
          <li>Deck width: 8.375"</li>
          <li>Deck only (no grip tape, no wheels, no trucks, in other words; no additional parts)</li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Primitive - Nick Tucker Joy of Skateboarding</h2>
      </div>
      <div class="modal-body">
        <p>
          Primitive skateboarding takes a unique approach to how they operate their company. Their founder Paul Rodriguez believes that the skateboarders should get most of the royalties. Which is a complete 360 from how skateboarding companies typically operate. Nick Tucker joined Primitive and turned PRO on November 2nd, 2014. You can see him shredding in the Primitive Skateboarding video <a href="https://youtu.be/gpDBgCZWGhE" target="_blank">Golden Hour</a>.
        </p>
        <ul>
          <li>Deck width: 8.12"</li>
          <li>Deck only (no grip tape, no wheels, no trucks, in other words; no additional parts)</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 5 -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Plan B - Felipe Gustavo Royalty</h2>
      </div>
      <div class="modal-body">
        <p>
          This dude's tech skills are out of control. Catch Felipe destroying it <a href="http://www.redbull.com/en/skateboarding/stories/1331808093324/felipe-gustavo-raw-video-part-by-kyle-camarillo">here</a>. Felipe also participated in the Berrics' Run and Gun contest. Where 10 skaters each get to park themselves for 24 hours to film their best 60-second run. The best part is the whole world is able to chime in and judge. He came in top three. Number one was Paul Rodriguez. Check both of their sessions out, <a href="http://theberrics.com/run-and-gun-2015-felipe-gustavo/" target="_blank">Felipe</a> and <a href="http://theberrics.com/run-and-gun-2015-paul-rodriguez/" target="_blank">Paul</a>.
        </p>
        <ul>
          <li>Deck width: 8.2"</li>
          <li>Deck only (no grip tape, no wheels, no trucks, in other words; 
            no additional parts)
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>     